<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Dzbanerss</a>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item ">
              <a class="nav-link" href="#">Srona główna <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
                    <a class="nav-link" href="#" [routerLink]="['/add-meme']" routerLinkActive="router-link-active" >Dodaj mema<span class="sr-only">(current)</span></a>
                  </li>
          </ul>
          <div *ngIf='currentUser &&  currentUser.isAdmin' class="my-2 my-lg-0">
              <span>Witaj admin: {{currentUser.username}}</span>
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="logout()"  >Wyloguj</button>
          </div>
          <div *ngIf='currentUser &&  !currentUser.isAdmin' class="my-2 my-lg-0">
                <span>Witaj dzbanie: {{currentUser.username}}</span>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="logout()"  >Wyloguj</button>
          </div>
          <div *ngIf='!currentUser' class="my-2 my-lg-0">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"  (click)="login()" >Zaloguj</button>
          </div>
        </div>
      </nav>
</div>